@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Esto es un comentario en CSS */

:root {
    --color-fondo: #000000; 
    --color-texto: #F6F6F6; 
    --color-contraste: #22D4FD;
    --color-hover: #272727; 

    --font-family-texto: "Montserrat", sans-serif;
    --font-family-titulo: "krona One", sans-serif;
    --font-size-texto: 1.5rem; /* 24px*/
    --font-size-titulo: 2.25rem ; /*36px*/
    
    --width: 50%; 
}

html {
  font-size: 16px; 
}


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    /*height: 100vh;*/
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__links{
    font-family: var(--font-family-texto);
    font-weight: 600;
    font-style: normal;
    color: var(--color-contraste);
    text-decoration: none;
}
.presentacion{
    display: flex; 
    align-items: center;
    padding: 6% 20%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
width: var(--width);
display: flex;
flex-direction: column;
gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: var(--font-size-titulo);
    font-family: var(--font-family-titulo), sans-serif;
}

.presentacion__contenido__texto{
    font-size: var(--font-size-texto);
    font-family: var(--font-family-texto);
    font-weight: 400;
    font-style: normal;
}
.tituloDestaque{
    color: var(--color-contraste);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.accede__a__redes{
    font-family: var(--font-family-titulo);
    font-size: var(--font-size-texto);
    font-weight: 400;

}
.presentacion__links{
    width: var(--width);
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--font-family-texto);
    font-weight: 600;
    font-size: var(--font-size-texto);
    text-decoration: none;
    color: var(--color-texto);
    border: 2px solid var(--color-contraste);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentacion__links:hover{
    background-color: var(--color-hover);
    cursor: pointer; /* Se suopone que cambia el cursor al estar encima */
    padding: 5% ;
}

.presentacion__imagen{
    width: var(--width);
    display: flex;
    align-items: flex-start;
}

.footer{
    background-color: var(--color-contraste);
    padding: var(--font-size-texto);
    color: var(--color-fondo);
    text-align: center;
    font-family: var(--font-family-texto);
    font-weight: 400;

}
@media (max-width: 1200px ){
    .header{
        padding: 10%;
    }
    .header__menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction:column-reverse  ;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }

}