@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Esto es un comentario en CSS */

:root {
    --color-fondo: #000000; 
    --color-texto: #F6F6F6; 
    --color-contraste: #22D4FD;
    --color-hover: #272727; 

    --font-texto: "Montserrat", sans-serif;
    --font-titulo: "krona One", sans-serif;
}


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    /*height: 100vh;*/
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__links{
    font-family: var(--font-texto);
    font-weight: 600;
    font-style: normal;
    color: var(--color-contraste);
    text-decoration: none;
}
.presentacion{
    display: flex; 
    align-items: center;
    padding: 6% 20%;
    justify-content: space-between;
}

.presentacion__contenido{
width: 615px;
display: flex;
flex-direction: column;
gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--font-titulo), sans-serif;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--font-texto);
    font-weight: 400;
    font-style: normal;
}
.tituloDestaque{
    color: var(--color-contraste);
}




.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.accede__a__redes{
    font-family: var(--font-titulo);
    font-size: 24px;
    font-weight: 400;

}
.presentacion__links{
    width: 378px;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--font-texto);
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: var(--color-texto);
    border: 2px solid var(--color-contraste);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentacion__links:hover{
    background-color: var(--color-hover);
    cursor: pointer; /* Se suopone que cambia el cursor al estar encima */
    padding: 5% ;
}

.footer{
    background-color: var(--color-contraste);
    padding: 24px;
    color: var(--color-fondo);
    text-align: center;
    font-family: var(--font-texto);
    font-weight: 400;

}